In [1]:
# Pregunta 1
mi_var1 = 42
print(mi_var1)

42

In [2]:
# Pregunta 2
print(type(8.5))

<class 'float'>

In [3]:
# Pregunta 3
print(type(mi_var1))

<class 'int'>

In [4]:
# Pregunta 4
mi_nombre = "Manuel"

In [5]:
# Pregunta 5
mi_var2 = 5 + 1j

In [6]:
# Pregunta 6
print(type(mi_var2))

<class 'complex'>

In [7]:
# Pregunta 7
mi_var3 = 3.1416

In [9]:
# Pregunta 8
# Crear una variable 'True' y una True no es lo mismo porque la primera es de tipo de cadena de texto o string y la segunda es de tipo Booleana o Bool.
mi_var4 = 'True'
mi_var5 = True

In [10]:
# Pregunta 9
print(type (mi_var4))
print(type (mi_var5))

<class 'str'>
<class 'bool'>

In [11]:
# Pregunta 10
mi_var6 = 4+7.8

In [14]:
# Pregunta 11
4j+6j

10j

In [15]:
# Pregunta 12
78+45j

(78+45j)

In [16]:
# Pregunta 13
25*4

100

In [19]:
# Pregunta 14
print(2**8)

256

In [21]:
# Pregunta 15
mi_var7 = 27/4
print(mi_var7)

6.75

In [22]:
# Pregunta 16
print(27//4)

6

In [23]:
# Pregunta 17
print(27%4)

3

In [24]:
# Pregunta 18
6*4+3

27

In [25]:
# Pregunta 19
"¡hola "+"mundo!"

'¡hola mundo!'

In [39]:
# Pregunta 20
'2'==2
# Es falso porque el primero es un dato de texto o string y el segundo un dato entero o int

False

In [41]:
# Pregunta 21
int("2")==2

True

In [ ]:
# Pregunta 22
# Porque al cambiar el dato (3,8) se lee la coma y para que sea un dato tipo float debe ser con punto deciman (7.8)

In [45]:
# Pregunta 23
x=3
x-=1
print(x)

2

In [48]:
# Pregunta 24
1 << 2

4

In [49]:
# Pregunta 25
2 + "2"
#no está permitido porque son datos de diferente tipo
#Si fueran del mismo tipo darían diferentes resultados dependiendo del tipo que se defina.

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [50]:
# Pregunta 26
"hola "*2

'hola hola '